# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ajrom\dev\flatiron\labs\fewpjs-stitching-together-the-three-pillars-new-online-web-sp-000\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
